
.feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    .item {
    width: 270px;
    margin-right: 30px;
    }
}
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-list .item:last-child {
    margin-right: 0px;
}
.feature-box {
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px; 
}
.feature-item {
    width: 70px;
    height: 70px;
}