.team {
    display: flex;
    background-color: #F5F4FA;
    margin-bottom: 0;
}
.team-card {
    background-color: var(--white-color);
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px
    rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    &:last-child {
    margin-right: 0px;
    }
}
.team-list {
    display: flex;
}
.team-wrap {
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-item {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center;
}
.description {
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 16px;
}
.master-social-list {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 32px;
}
.master-social-item {
    margin-right: 10px;
    &:last-child {
    margin-right: 0px;
    }
}

.master-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex; 
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    color: var(--white-color);  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
    &svg {
    fill: var(--white-color);
    }
}
.master-social-icon {
    fill: #AFB1B8;
    
}
